*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222;
}
.logo h2{
    color:white;
    display: flex;
    flex-wrap:wrap ;
}

.center{
    width: 100%;
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}
header{
    margin:20px 0;
}

.alignflex{
    justify-content:space-between;
}
.menu-btn{
    display: inline-block;
}
.menu-items a{
    display:inline-block;
    color: white;
    margin: 0 8px;
}
.menu-items a.active{
    color:  #f9004d;
}
.menu-btn button{
    border: 1px solid white;
    padding:8px;
    color: white;
    background-color: transparent;
}

.menu-btn button:hover{
   background-color: #f9004d;
    color: #222;
    border: 1px solid #222;
}