*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

body{
    background-color: #222;
 

}
.logo h2{
    color:white;
    display: flex;
    flex-wrap:wrap ;
}

.center{
    width: 100%;
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}
header{
    margin:20px 0;
 }

.alignflex{
    justify-content:space-between;
}
.menu-btn{
    display: inline-block;
}
.menu-items a{
    display:inline-block;
    color: white;
    margin: 0 8px;
    text-decoration: none;
    flex-wrap:  wrap;
}
.menu-items a:hover{
      
    text-decoration:underline #f9004d;
  
}
.menu-items a.active{
    color:  #f9004d;
}
.menu-items a.active:hover{
   text-decoration: underline white;
}
 
 
.menu-btn button{
   margin-top: 10px;
    border: 1px solid white;
    padding:10px 14px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    margin:0 15px;
    font-size: 15px;
    cursor: pointer;
}

.menu-btn button:hover{
   background-color: #f9004d;
    color: #222;
    border: 1px solid #222;
    transition: 0.5s;
}
section{
    position:relative;
    top: 0;
    bottom: 0;
    right:0 ;
    left:0 ;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.303);
}
 .img_responsive{
    display: flexbox;
    image-rendering: optimizeQuality ;
    justify-content: center;
    align-items: center;
     border-radius: 0px 0px 20px 20px ;
    width:350px;
    height:500px;
    margin-top:-30px ;
    margin-left: 300px;
    margin-bottom: -30px;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.395);  
}
.sub  {
     display:inline-block;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(305deg, #f81f01,#ee076e) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
   right: 480px;
   top: 0px;
   margin: 40px;
   flex-wrap: wrap;
   flex-direction: row;
 }
 p{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
  position: absolute;
   right: 250px;
   top: 0px;
   margin: 95px;
   flex-wrap: wrap;
   box-sizing: border-box;
   width: 450px;
   height: 120px;
   }
   #container{
    overflow : auto;
    width: 100%;
   }
   .center_contato {
    background-color: rgba(0, 0, 0, 0.303);
    margin-top:100px ;
    position:relative;
    height: 10vw;
    top: 0px;
}
.contato{
   display: inline-flex;
   justify-content:center;
   align-items: center;
    background-color:#222;
    position: absolute;
    margin-top: -87px;   
     color: #f9004d;
    border-radius: 0px 0px 17px 17px;
    height: 8vw;
    width: 20vw;
    margin-left: 90px;
   
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.303);
}
.table{
     display: flex;
     flex-direction:column;
     text-decoration: none;
      color: white;
      justify-content: center;
      align-items: center;
      font-size:15px;
      align-content: center;
    padding: 40px;
    
 }
 td,tr{
     padding: 4px;
 }
 footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 40px;
    left: 0;
    right:0;
    background-image: linear-gradient(305deg, #f81f01,#ee076e) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 350vw;
 }
 a{
    text-decoration: none;
    color:white;
    
 }
 a:hover{
    text-decoration: #ee076e;
    cursor: pointer
    ;
    background-image: linear-gradient(305deg, #f81f01,#ee076e) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about_contact{
 display: flex;
 justify-content: center;
 align-items: center;
  margin-top:   40px;
text-align: center;
  }
  .slider{
    margin:0 auto;
    width:800px;
    height: 400px;
    overflow: hidden;
  }
  .slides{
    width:400%;
    height:400px;
    display: flex;
  }
  .slides input{
    display: none;
  }
.slide{
  width:25%;
  position: relative;
}
.slide img{
  width: 800px;

}
.manual_navigation{
  position:  absolute;
  width: 800px;
  margin-top:-40px ;
  display: flex;
  justify-content: center;
}
.manual_btn{
  border: 2px solid #fff;
  padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 0.5s;
}
  .manual_btn:not(:last-child)
  {
    margin-right:20px;
    
  }
  .manual_btn:hover{
    background-color: #f9004d;
  }
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
 