*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

body{
    background-color: #222;
}
.logo h2{
    color:white;
    display: flex;
    flex-wrap:wrap ;
}

.center{
    width: 100%;
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}
header{
    margin:20px 0;
}

.alignflex{
    justify-content:space-between;
}
.menu-btn{
    display: inline-block;
}
.menu-items a{
    display:inline-block;
    color: white;
    margin: 0 8px;
    text-decoration: none;
    flex-wrap: nowrap;
}
.menu-items a:hover{
      
    text-decoration:underline #f9004d;
  
}
.menu-items a.active{
    color:  #f9004d;
}
.menu-items a.active:hover{
   text-decoration: underline white;
}
 
 
.menu-btn button{
   margin-top: 10px;
    border: 1px solid white;
    padding:10px 14px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    margin:0 15px;
    font-size: 15px;
    cursor: pointer;
}

.menu-btn button:hover{
   background-color: #f9004d;
    color: #222;
    border: 1px solid #222;
    transition: 0.5s;
}
section{
    position:relative;
 
}
section img{
    position: absolute;
    top: 50px;
     width: 400px;
     height: 400px;
    
 }
  
 .about{
    position: absolute;
   top: 30px;
   right: 100px;
   display:flex ;
   width: 100%;
   max-width: 1480px;
   justify-content:center;
   align-items: center;
  }
 .text1{
    position: absolute;
    top:80px;
    left: 600px;
    display: flex;
    flex-wrap: wrap;
     box-sizing: border-box;
     width:500px;
     height: 500px;
 }

   
  
    
            