*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222;
}
.logo h2{
    color:white;
    display: flex;
    flex-wrap:wrap ;
}

.center{
    width: 100%;
    max-width: 1480px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
}
header{
    margin:20px 0;
}

.alignflex{
    justify-content:space-between;
}
.menu-btn{
    display: inline-block;
}
.menu-items a{
    display:inline-block;
    color: white;
    margin: 0 8px;
    text-decoration: none;
    flex-wrap: nowrap;
}
.menu-items a:hover{
      
    text-decoration:underline #f9004d;
  
}
.menu-items a.active{
    color:  #f9004d;
}
.menu-items a.active:hover{
   text-decoration: underline white;
}
 
 
.menu-btn button{
    border: 1px solid white;
    padding:10px 14px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    margin:0 15px;
    font-size: 15px;
    cursor: pointer;
}

.menu-btn button:hover{
   background-color: #f9004d;
    color: #222;
    border: 1px solid #222;
    transition: 0.5s;
}

.main-1 h1{
    display:flex;
    justify-content:center;
    align-items: center;
     padding-left: 40px;
    padding-top: 80px;
    font-size:90px;
    background-image: linear-gradient(145deg, #f81f01,#ee076e) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.diferencial-single{
    margin: 0 40px;
}
.diferencial-single:hover{
   background-color: rgba(0, 0, 0, 0.144);
   transition: 0.5s;
   border-radius: 15px;
}
 .diferencial-single svg{
    font-size: 45px;
    color: #f9004d;
  
 }      
 
.diferencial-single h3{
    padding-top:25px ;
    padding-bottom:20px ;
     color: white;
     font-size:19px;
     font-weight: bold;
      margin: 10px 0;
 }
 .diferencial-single p{
    display: flex;
    flex-wrap: wrap;
     color: white;
     font-size: 19px;
     margin-bottom: 30px;
 }   
 footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 40px;
    left: 0;
    right:0;
    background-image: linear-gradient(305deg, #f81f01,#ee076e) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }	 
  
 